<script type="text/javascript">
XHR.poll(3, '<%=url([[admin]], [[services]], [[AdGuardHome]], [[status]])%>', null,
	function(x, data) {
		var tb = document.getElementById('AdGuardHome_status');
		if (data && tb) {
			var statusText = "";

            if (data.running) {
                statusText = '🟢 <b><%:RUNNING%></b>';
            } else {
                statusText = '🔴 <b><%:NOT RUNNING%></b>';
            }

            if (data.redirect) {
                statusText += ' <b><%:Redirected%></b>';
            } else {
                statusText += ' <b><%:Not redirect%></b>';
            }

            tb.innerHTML = `
              <div style="display:flex; justify-content:space-between; align-items:center;">
                <span>AdGuardHome ${statusText}</span>
                <span>📦 ${data.version}</span>
              </div>`;
        }
	}
);
</script>
<style>.mar-10 {margin-left: 50px; margin-right: 10px;}</style>
<fieldset class="cbi-section">
	<p id="AdGuardHome_status">
		<em><%:Collecting data...%></em>
	</p>
</fieldset>
